[![AWS Data Wrangler](_static/logo.png "AWS Data Wrangler")](https://github.com/awslabs/aws-data-wrangler)

# 21 - Global Configurations

[Wrangler](https://github.com/awslabs/aws-data-wrangler) has two ways to set global configurations that will override the regular default arguments configured in the function signature.

- **Environment variables**
- **wr.config**

*P.S. Check the [function API doc](https://aws-data-wrangler.readthedocs.io/en/latest/api.html) to see if your function has some argument that can be configured through Global configurations.*

## Environment Variables

In [1]:
%env WR_DATABASE=default
%env WR_CTAS_APPROACH=False
%env WR_MAX_CACHE_SECONDS=900
%env WR_MAX_CACHE_QUERY_INSPECTIONS=500

env: WR_DATABASE=default
env: WR_CTAS_APPROACH=False
env: WR_MAX_CACHE_SECONDS=900
env: WR_MAX_CACHE_QUERY_INSPECTIONS=500

In [2]:
import awswrangler as wr

In [3]:
wr.athena.read_sql_query("SELECT 1 AS FOO")

   foo
0    1

## Resetting

In [4]:
# Specific
wr.config.reset("database")
# All
wr.config.reset()

## wr.config

In [5]:
wr.config.database = "default"
wr.config.ctas_approach = False
wr.config.max_cache_seconds = 900
wr.config.max_cache_query_inspections = 500

In [6]:
wr.athena.read_sql_query("SELECT 1 AS FOO")

   foo
0    1

## Visualizing

In [7]:
wr.config