[![AWS Data Wrangler](_static/logo.png "AWS Data Wrangler")](https://github.com/awslabs/aws-data-wrangler)

# 26 - Amazon Timestream

## Write

In [1]:
import awswrangler as wr
import pandas as pd
from datetime import datetime

df = pd.DataFrame(
    {
        "time": [datetime.now(), datetime.now(), datetime.now()],
        "dim0": ["foo", "boo", "bar"],
        "dim1": [1, 2, 3],
        "measure": [1.0, 1.1, 1.2],
    }
)

rejected_records = wr.timestream.write(
    df=df,
    database="sampleDB",
    table="sampleTable",
    time_col="time",
    measure_col="measure",
    dimensions_cols=["dim0", "dim1"],
)

print(f"Number of rejected records: {len(rejected_records)}")

Number of rejected records: 0

## Query

In [2]:
wr.timestream.query(
    'SELECT time, measure_value::double, dim0, dim1 FROM "sampleDB"."sampleTable" ORDER BY time DESC LIMIT 3'
)

                     time  measure_value::double dim0 dim1
0 2020-12-06 21:00:38.582                    1.0  foo    1
1 2020-12-06 21:00:38.582                    1.1  boo    2
2 2020-12-06 21:00:38.582                    1.2  bar    3